.preview {
  position: relative;
}
.preview__close {
  position: absolute;
  top: 0;
  margin: 5px;
  color: white;
  font-size: 18px !important;
  cursor: pointer;
}
.preview__toolbarRight {
  color: white;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.preview__toolbarRight > .MuiSvgIcon-root {
  font-size: 20px !important;
  margin-bottom: 8px;
  cursor: pointer;
}
.preview__footer {
  position: absolute;
  bottom: 0;
  right: -25px;
  transform: translate(-50%, -50%);
  background-color: yellow;
  color: black;
  display: flex;
  justify-content: center;
  align-items: space-between;
  border-radius: 30px;
  cursor: pointer;
  padding: 7px;
}
.preview__footer > h2 {
  font-size: 8px;
  margin-top: 3px;
}
.preview__sendIcon {
  padding: 3px;
  padding-top: 5px;
  font-size: 10px !important;
}
